<a href="https://colab.research.google.com/github/jcdumlao14/Naive-Bayes-algorithm-/blob/main/GaussianNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Titanic Dataset - Machine Learning from Disaster**

## **GaussianNB**

In [ ]:
#install the dependencies
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"jocelyndumlao","key":"037916ad3e338e2e941f2a9bd1a9a4a8"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
#change the permission
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 27.1MB/s]

In [ ]:
from zipfile import ZipFile
file_name ="titanic.zip"
with ZipFile(file_name,'r')as zip:
  zip.extractall()
  print('Done')

Done

## **What is Gaussian NB in machine learning?**

Naïve Bayes is a probabilistic machine learning algorithm used for many classification functions and is based on the Bayes theorem. Gaussian Naïve Bayes is the extension of naïve Bayes.F

## **What is Gaussiannb in Naive Bayes?**

A **Gaussian Naive Bayes algorithm** is a special type of NB algorithm. It's specifically used when the features have continuous values. It's also assumed that all the features are following a gaussian distribution i.e, normal distribution.

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 'columns', inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
target = df.Survived
inputs = df.drop('Survived', axis ='columns')

In [ ]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [ ]:
inputs = pd.concat([inputs,dummies],axis = 'columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [ ]:
inputs.drop('Sex', axis ='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size =0.2)

In [ ]:
len(X_train)

712

In [ ]:
len(X_test)

179

In [ ]:
len(y_train)

712

In [ ]:
len(inputs) # total number len

891

In [ ]:
X_train

     Pclass        Age      Fare  female  male
103       3  33.000000    8.6542       0     1
216       3  27.000000    7.9250       1     0
27        1  19.000000  263.0000       0     1
298       1  29.699118   30.5000       0     1
733       2  23.000000   13.0000       0     1
..      ...        ...       ...     ...   ...
621       1  42.000000   52.5542       0     1
235       3  29.699118    7.5500       1     0
760       3  29.699118   14.5000       0     1
761       3  41.000000    7.1250       0     1
385       2  18.000000   73.5000       0     1

[712 rows x 5 columns]

In [ ]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [ ]:
model.fit(X_train, y_train)

GaussianNB()

In [ ]:
model.score(X_test,y_test)

0.7821229050279329

In [ ]:
X_test[:10]

     Pclass        Age     Fare  female  male
323       2  22.000000  29.0000       1     0
82        3  29.699118   7.7875       1     0
420       3  29.699118   7.8958       0     1
593       3  29.699118   7.7500       1     0
208       3  16.000000   7.7500       1     0
250       3  29.699118   7.2500       0     1
732       2  29.699118   0.0000       0     1
364       3  29.699118  15.5000       0     1
646       3  19.000000   7.8958       0     1
670       2  40.000000  39.0000       1     0

In [ ]:
y_test[:10]

323    1
82     1
420    0
593    0
208    1
250    0
732    0
364    0
646    0
670    1
Name: Survived, dtype: int64

In [ ]:
model.predict(X_test[:10])

array([1, 1, 0, 1, 1, 0, 0, 0, 0, 1])

In [ ]:
model.predict_proba(X_test[:10]) # probability

array([[0.02492701, 0.97507299],
       [0.06468617, 0.93531383],
       [0.99060935, 0.00939065],
       [0.06467485, 0.93532515],
       [0.05289158, 0.94710842],
       [0.99057847, 0.00942153],
       [0.97712726, 0.02287274],
       [0.99075876, 0.00924124],
       [0.98911673, 0.01088327],
       [0.02436299, 0.97563701]])